# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.idea/
.metadata/
.settings/
obj/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
*.iml
.project
.actionScriptProperties
.flexProperties
.flexLibProperties
*.as3proj
